/*================================
          Header Section
  =================================*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
}
.header-logo {
  height: 2.2rem;
}

/*================================
          Navigation
  =================================*/

.nav-items {
  display: flex;
  gap: 3.2rem;
  align-items: center;
  list-style: none;
}
/* .nav-item {
  list-style: none;
} */
.nav-link:link,
.nav-link:visited {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 600;
  color: #333;
  text-decoration: none;
  transition: all 0.3s;
}
.nav-link:hover,
.nav-link:active {
  color: #cf711f;
}
.nav-cta:link,
.nav-cta:visited {
  background-color: #e67e22;
  color: #fff;
  border-radius: 9px;
  padding: 1.2rem 2.4rem;
}
.nav-cta:hover,
.nav-cta:active {
  background-color: #cf711f;
}
/*================================
          Hero Section
  =================================*/
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}
.hero {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-image {
  width: 100%;
}

.deliveries-containers {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}
.deliveries-imgs {
  display: flex;
}
.deliveries-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50px;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}
.deliveries-imgs img:last-child {
  margin-right: 0;
}
.deliveries-text {
  font-size: 1.8rem;
  font-weight: 600;
  color: #333;
}
.deliveries-text span {
  color: #cf711f;
  font-weight: 800;
}
/*================================
          How to Section
  =================================*/
.section-featured {
  padding: 4.2rem 0 3.8rem 0;
}
.featured-heading {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  text-align: center;
  color: #999;
  margin-bottom: 2.4rem;
}
.logos {
  display: flex;
  justify-content: space-around;
}
.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 0.5;
}

/*================================
          How to Section
  =================================*/
.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}
.steps-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.steps-image-box::before,
.steps-image-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.steps-image-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}
.steps-image-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}
.step-image {
  width: 35%;
}
/*================================
          Meals Section
  =================================*/
.section-meals {
  padding: 9.6rem 0;
}
.meals-cart {
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.082);
  overflow: hidden;
}
.meals-image {
  width: 100%;
}
.meals-description {
  padding: 3.2rem 4rem 4rem 4rem;
}
.meal-features {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  color: #333;
}
.meal-feature {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.meals-category {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}
.tag {
  display: inline-block;
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  font-weight: 600;
  border-radius: 11px;
  text-transform: uppercase;

  color: #222;
}
.tag--vegan {
  background-color: #8be060;
}
.tag--paleo {
  background-color: #e4e756;
}
.tag--veg {
  background-color: #46cd52;
}
.icon {
  font-size: 2.4rem;
  color: #cf711f;
}

.diets {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 1.8rem;
  font-weight: 500;
  gap: 2.4rem;
}
.diets-item {
  display: flex;
  gap: 1.2rem;
}
.check-icon {
  color: #cf711f;
  font-size: 2.6rem;
  font-weight: 500;
}
.meal-options {
  text-align: center;
}
.link:link,
.link:visited {
  display: inline-block;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 500;

  color: #e67e22;
  border-bottom: 1px solid currentColor;
}
